     * {
    box-sizing: border-box;
    font-family: 'patrick hand';

}

body {
    background-image:  
    linear-gradient( #00000080, rgba(0,0,0,.5) ),url('http://i.imgur.com/KXmAr4e.jpg');
    background-size: cover;
    min-width: 325px;
}

.welcome , .questionBubble {
    border: 2px solid black;
    width: 700px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
    border-radius: 30px;
    background-color: tan;
    
}

.start {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: green;
    color: white;
    font-weight: 600;
}

.question {
    font-weight: bold;
    padding: 5px;
    font-size: larger;
    
}

.answers {
    height: 450px;
    display: flex;
    align-items: flex-end;
    
}

.teams {
    color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    
} 

 .option {
     height: 160px; 
    border: 3px solid black;
     padding: 5px; 
     background-color: tan; 
     font-weight: bold; 
     display: flex;
    border-radius: 15px;
    padding: 5px; 
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 140px;
    /* min-width: 130px; */
     
}  

.teamLogo {
    height: 95px;
    width: 100px;
    position: relative;
    top: 5px;
}



.counter {
    height: 40px;
    width: 150px;
    border: 3px solid black;
    padding: 5px;
    background-color: tan;
    font-weight: bold;
    border-radius: 20px;
}

.questionCounter {
    display: inline-block;
    position: relative;
    bottom: 12px;
}

.legend {
    position: relative;
    bottom: 35px;
}

.correctText{
width: 150px;
position: relative;
bottom: 15px;
left: 15px;

}

#correctCounter{
    position: absolute;
    right: 5px;
    width: 200px;
} 

.answerBubble {
    border: 2px solid black;
    width: 700px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
    border-radius: 30px;
    background-color: tan;
    padding:10px;
    
}

.correctInfo ,.answerInfo {
    font-weight: bold;
    font-size: larger;
}

#correct {
    font-size: 25px;
} 

.greenCheck {
    height: 30px;
    width: 30px;
     display: inline-block; 
    position: relative;
    right: 125px;
    top: 55px;
} 

.legend2 {
    width: 200px;
    display: block;
}

.picContainer{
    position: relative;
    bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.answerPic {
    height: 120px;
    width: 150px;
    border: 2px solid black;
}

.checkAndTitle {
    position: relative;
    bottom: 50px;
} 

.extraInfo{
    position: relative;
    bottom: 30px;
} 

.nextQuestion, .getResults,.restartQuiz {
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 25px;
}


.redX {
        height: 40px;
        width: 50px;
        display: inline-block; 
        position: relative;
        right: 125px;
        top: 63px;
}

.resultPic {
    height: 150px;
    width: 175px;
    border: 2px solid black;
}   

#phi {
    position: relative;
    bottom: 100px;
}

.finalTitle{
    position: relative;
    top: 25px;
    padding-bottom: 20px;
}

@media screen and (max-width: 975px){
    .teams {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 730px){
    .option {
        width: 75px;
        /* border:none; */
        /* background-color: black;   */
        /* color: white;  */
        /* border: 2px solid white; */
    }
    .questionBubble{
        /* background-color: black; */
        /* color: white; */
        /* border: 2px solid white; */
        width: 450px;
    }
    .counter {
        /* background-color: black; */
        /* color: white; */
        /* border: 2px solid white; */
    }
    .answerBubble , .welcome {
        width: 450px;
    }
    .picContainer {
        flex-wrap: wrap;
    }
    .questionBubble {
        width: 250px;
    }
}

@media screen and (max-width: 460px){
    /* .answerBubble { */
        /* width: 250px; */
    /* }
    .pic1,.pic2, .pic3 {
        display: none; */
    /* } */

    .welcome {
        width: 250px;
    }
}

@media screen and (max-width: 478px){
    .answerBubble {
        width: 250px;
    }
    .picOne , .picTwo , .picThree {
        display: none;    
}

    .redX , .greenCheck {
        top: 100px;
        left: 1px;
    }

    .picFour {
        position: relative;
        top: 15px;
    }

    .lastPic {
        display: none;
}

@media screen and (max-width: 383px){
    .correctText {
        font-size: small;
    }
    #correctCounter {
        width: 150px;
        height: 30px;
        top: 5px;
    }
    .counter {
        width: 150px;
        height:30px;
          
    }
    .legend2 {
        width: 50px;
    }

    .teams {
        position: relative;
        top: 100px;
        right: 20px;
    }

    .option {
        margin-bottom: 5px;
    }
}